* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #322737;
  color: #fff;
  -ms-overflow-style: none;  /* IE and Edge */   
}

body::-webkit-scrollbar {
  display: none; /*Chrome, Safari & Opera */
}

  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
}

a {
  text-decoration: none;
}

.nav-links {
  height: 80px;
  width: 100%;
}

.navbar a {
  color: #fff;
  float: right;
  font-weight: 300;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 28px;
}

.navitem {
  background: -webkit-linear-gradient(rgb(245, 245, 245), #794e8a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  float: right;
  font-size: 28px;
  padding: 15px;
  margin-top: -35px;
}

.logo-container {
  width: 35%;
}

.logo {
  font-size: 3.5rem;
  margin: 35px;
  background: -webkit-linear-gradient(rgb(223, 182, 233), #312038);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.section {
  padding: 15px;
}

.searchbox-wrap {
  display: block;
  float: right;
  margin-right: 25px;
  margin-top: -25px;
}

.searchbox {
  color: black;
  border: none;
  border-radius: 5px;
  float: right;
  font-size: 22px;
  height: 35px;
  padding: 3px;
  outline: none;
  background-color: #bcafc3;
}

.searchbox:focus {
  box-shadow: 0 0 8px 3px #ac85c2;
}

.movie-container {
  max-width: 860px;
}

.result-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 15px;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 35px;
  margin-top: 95px;
}

.result-card .poster-wrapper img,
.filler-poster {
  width: 255px;
  height: 355px;
  background-color: #dbdada;
  border-radius: 5px;
  margin-right: 15px;
  display: block;
  color: transparent;
}

.results .result {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 15px;
  width: 350px;
  min-width: 250px;
}

.results .result img {
  display: block;
  width: 100%;
  height: 475px;
  object-fit: contain;
}

.results .result h3 {
  padding: 25px 0 15px;
  flex: 1 1 100%;
  text-align: center;
  text-overflow: ellipsis;
}

.results .result h5 {
  color: #ac85c2;
  max-width: 250px;
  text-align: center;
  text-overflow: ellipsis;
  padding-bottom: 25px;
}

.results .result:hover h3 {
  color: #ac85c2;
}

.results .filler-poster {
  height: 355px;
  background-color: #bcafc3;
}

ul li {
  list-style-type: none;
}

.btn {
  border-radius: 6px;
  font-size: 15px;
  margin: 5px 43% 25px;
  outline: none;
  padding: 4px;
  background-color: #bcafc3;
  text-align: center; 
}

.add-content {
 display: inline-flex;
}

.title {
  max-width: 250px;
  text-overflow: ellipsis;
  color: #b59fc2;
  margin-left: 2px;
  margin-top: 4px;
}

.release-date {
  color: #ad90be;
  margin-left: 2px;
  margin-top: 2px;
}